<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.oriya.nannysitter">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/babyboyicon_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/babyboyicon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NannySitter">
        <activity
            android:name=".BabyActivity"
            android:exported="false" />
        <activity
            android:name=".ParentActivity"
            android:exported="false" />
        <activity
            android:name=".ChooseActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".Video"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".TemperatureSensorService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.gps.services.LocationService" />
            </intent-filter>
        </service>
        <service
            android:name=".LightSensorService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.gps.services.LocationService" />
            </intent-filter>
        </service>
    </application>

</manifest>